/* Universal Selector */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

/* Body */

body{
background:linear-gradient(to right,red,blue);
color:black;
line-height:1.6;
}

/* Header */

header{
background:black;
color:white;
text-align:center;
padding:25px;
}

/* Navigation */

nav{
background:purple;
position:sticky;
top:0;
}

nav ul{
display:flex;
justify-content:center;
list-style:none;
flex-wrap:wrap;
}

nav ul li{
margin:10px;
}

nav ul li a{
color:white;
text-decoration:none;
padding:10px 18px;
display:block;
font-weight:bold;
transition:0.4s;
}

nav ul li a:hover{
background:white;
color:yellow;
border-radius:5px;
transform:scale(1.05);
}

/* Banner */

.banner{
text-align:center;
padding:60px;
background-image:url("images/college.jpg");
background-size:cover;
background-position:center;
color:white;
}

.banner h2{
font-size:40px;
margin-bottom:20px;
}

.banner p{
font-size:20px;
margin-bottom:20px;
}

/* Button */

.button{
background:darkblue;
padding:12px 20px;
color:white;
text-decoration:none;
border-radius:5px;
transition:0.4s;
}

.button:hover{
background:black;
}

/* Grid */

.grid-container{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:20px;

padding:30px;

}

.box{

background:white;

padding:20px;

border-radius:10px;

box-shadow:0 0 10px gray;

transition:0.4s;

}

.box:hover{

transform:scale(1.05);

}

/* Section */

section{

padding:25px;

}

section ul{

margin-left:30px;

}

/* Aside */

aside{

background:grey;

padding:20px;

margin:20px;

border-left:6px solid blue;

}

/* Footer */

footer{

background:red;

color:white;

text-align:center;

padding:20px;

margin-top:20px;

}

footer a{

color:white;

text-decoration:none;

}

footer a:hover{

text-decoration:underline;

}

/* Images */

img{

max-width:100%;

border-radius:8px;

}

/* Form */

input,
select,
textarea{

width:100%;

padding:10px;

margin-top:5px;

margin-bottom:15px;

}

input[type=submit],
input[type=reset]{

width:auto;

background:white;

color:white;

border:none;

padding:10px 20px;

cursor:pointer;

}

input[type=submit]:hover,
input[type=reset]:hover{

background:blue;

}

/* Table */

table{

width:100%;

border-collapse:collapse;

margin-top:20px;

}

table,
th,
td{

border:1px solid black;

}

th{

background:green;

color:white;

}

th,
td{

padding:10px;

text-align:center;

}

/* Gallery */

.gallery{

display:flex;

flex-wrap:wrap;

justify-content:center;

gap:20px;

}

.gallery figure{

text-align:center;

}

/* Responsive */

@media(max-width:768px){

nav ul{

flex-direction:column;

}

.grid-container{

grid-template-columns:1fr;

}

.banner{

padding:40px;

}

.banner h2{

font-size:28px;

}

}